<app-header></app-header>
<mat-drawer-container class="admin-layout-container">
    <mat-drawer mode="side" opened class="admin-left-side"><app-sidebar></app-sidebar></mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>