<mat-drawer-container class="admin-product-create-container">
  <mat-drawer mode="side" opened>
    <app-create (createdProduct)="createdProduct($event)"></app-create>
  </mat-drawer>
  <mat-drawer-content>
    <app-list></app-list>
  </mat-drawer-content>
</mat-drawer-container>
