<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">ECommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="baskets">Baskets</a>
          </li>
          <li>
            <a class="btn btn-warning" routerLink="admin">Admin</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>

<ngx-spinner size="default" name="spinner1" type="ball-clip-rotate-multiple"></ngx-spinner>
<ngx-spinner size="default" name="spinner2" type="line-spin-clockwise-fade"></ngx-spinner>
<ngx-spinner size="default" name="spinner3" type="ball-scale"></ngx-spinner>
<ngx-spinner size="default" name="spinner4" type="ball-clip-rotate-pulse"></ngx-spinner>
