<div class="product-create-input">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput #txtName />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput #txtDesc />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput type="number" min="0" value="0" #txtQuantity />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="number" min="0" value="0" #txtPrice />
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    (click)="create(txtName, txtDesc, txtQuantity, txtPrice)"
  >
    Create Product
  </button>
</div>
