<mat-list role="list">
    <a mat-list-item role="listitem" routerLink = "/admin">Dashboard</a>
    <a mat-list-item role="listitem" routerLink = "products">Products</a>
    <a mat-list-item role="listitem" routerLink = "customers">Customers</a>
    <a mat-list-item role="listitem" routerLink = "orders">Orders</a>
    <a mat-list-item role="listitem" routerLink = "">Go to site</a>
  </mat-list>